@charset "utf-8";
/* CSS Document */
	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, input, select {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        height: 100%;
        background: #fff;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    img {
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
        -webkit-touch-callout: none;
    }

    :focus {
        outline: 0
    }
    html {
        height: 100%;
        font-size: 10px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    @media screen and (min-width: 321px) and (max-width: 375px) {
        html {
            font-size: 11px
        }
    }

    @media screen and (min-width: 376px) and (max-width: 414px) {
        html {
            font-size: 12px
        }
    }

    @media screen and (min-width: 415px) and (max-width: 639px) {
        html {
            font-size: 15px
        }
    }

    @media screen and (min-width: 640px) and (max-width: 719px) {
        html {
            font-size: 20px
        }
    }

    @media screen and (min-width: 720px) and (max-width: 749px) {
        html {
            font-size: 22.5px
        }
    }

    @media screen and (min-width: 750px) and (max-width: 799px) {
        html {
            font-size: 23.5px
        }
    }

    @media screen and (min-width: 800px) {
        html {
            font-size: 25px
        }
    }
    select::-ms-expand {
        display: none;
    }

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }

    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    ul, ol {
        list-style: none
    }

    a{
        text-decoration: none;
        background-color: transparent;
    }
    a:active,
    a:hover {
        outline: 0;
    }
    article, aside, details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
        display: block;
    }

    button,input,optgroup,select,textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }
    button {
        overflow: visible;
    }
    button,select {
        text-transform: none;
    }
    button,html input[type="button"],input[type="reset"],input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }
    button[disabled],html input[disabled] {
        cursor: default;
    }
    button::-moz-focus-inner,input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    input {
        line-height: normal;
    }
    input[type="checkbox"],input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }
    input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }
    input[type="search"] {
        -webkit-appearance: textfield;
        box-sizing: content-box;
    }
    input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }
    a,input,textarea,select,button {
        outline: 0;
    }
    body{
        background: #fff;
    }
    .lp-m-inputs {
        padding:0 1.2rem;
        background: #fff;
    }
    .lp-m-topImg{
        margin-bottom: 1rem;
    }
    .lp-m-topImg img {
        width:100%;
        height:100%;
    }
    .lp-m-inputs-item,.lp-m-inputs-item2{
        overflow: hidden;
        border-radius: 2.5rem;
        position: relative;
        border:1px solid #616161;
        height: 4.5rem;
        padding:1.25rem 0 0 0.2rem;
        position: relative;
        background: #fff;
        margin: 1rem auto;
    }
    .lp-m-inputs-item input,.lp-m-inputs-item2 input{
        padding-left: 2.5rem;
        font-size: 1.4rem;
        color:#000;
        width:90%;
    }
    .lp-m-inputs-item img,.left-icon{
    
        height: 1.5rem;
        position: absolute;
        left: 1rem;
        top: 50%;
        margin-top: -.9rem
    }
    .lp-m-inputs-item input.lp-m-inputs-s,.lp-m-inputs-item2 input.lp-m-inputs-s{
        width:70%;
        display: inline-block;
    }
    .lp-m-imgcode {
        width: 25%;
        display: inline-block;
        height: 2.5rem;
    }
    .codeImg{
        width: 5.5rem;
        height: 2.2rem;
    }
    .lp-m-emscode{
        /*width: 30%;*/
        display: block;
        height: 3rem;
        line-height: 3rem;
        /*background: #ff8d64;*/
        color: #676f71;
        border-bottom: 1px #676f71 solid;
        font-size: 1.3rem;
        text-align: center;
        /*border-radius: 12px;*/
        position: absolute;
        right: 1.5rem;
        top: 50%;
        margin-top: -1.5rem;
    }
    .lp-m-emscode-60{
        width:30%;
        display: block;
        height: 3rem;
        line-height: 3rem;
        background: #fff;
        color:#3b4b5f;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 12px;
        position: absolute;
        right:0;
        top:50%;
        margin-top: -1.5rem;
        display: none;
    }
    .lp-m-tips,.lp-fade-cont-tips{
        padding: 0 .9rem;
        color:red;
        font-size: 1.3rem;
        height: 2rem;
        line-height: 2rem;
        display: none;
        text-align: center;
    }
    .lp-m-submit{
            background: -webkit-linear-gradient(#F5F5F5, #E8E8E8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F5F5F5, #E8E8E8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F5F5F5, #E8E8E8); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F5F5F5, #E8E8E8); /* &#26631;&#20934;&#30340;&#35821;&#27861;&#65288;&#24517;&#39035;&#25918;&#22312;&#26368;&#21518;&#65289; */
        margin:1rem 0;
        height:4.5rem;
        line-height: 4.5rem;
        text-align: center;
        color:#C42329;
        border-radius: 2.5rem;
        font-size: 1.8rem;
		text-shadow: 2px 2px 2px #DFDFDF;
		/*opacity:0.6;*/
    }
    .lp-m-submit2, .lp-m-submit3{
        /*background: #1d75d9;*/
       background: -webkit-linear-gradient(#C42329, #C42329); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#C42329, #C42329); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#C42329, #C42329); /* Firefox 3.6 - 15 */
    background: linear-gradient(#C42329, #C42329); /* &#26631;&#20934;&#30340;&#35821;&#27861;&#65288;&#24517;&#39035;&#25918;&#22312;&#26368;&#21518;&#65289; */
	text-shadow: 1px 1px 1px #db8b1c;
        display: none;
        margin:1rem 0;
        height:4.5rem;
        line-height: 4.5rem;
        text-align: center;
        color:#fff;
        border-radius: 2.5rem;
        font-size: 1.8rem;
		text-shadow: 2px 2px 2px #D92D31;
    }

    /*.lp-m-submit3 {*/
        /*display: block;*/
    /*}*/
    .lp-m-down{
        color:#999;
        font-size: 1.3rem;
        padding:0 0.9rem;
        margin-bottom: .5rem;
        height: 3rem;
        line-height: 3rem;
		text-align:center;
    }
    .lp-m-down span{
        color:#018ffe;
    }
    .lp-m-bottom-tips{
        text-align: center;
        padding-top: .7rem;
        color: #a3a3a3;
        font-size:xx-small;
    }
    .lp-m-bottom-a{
        margin-top: 1rem;
        padding-bottom: 2px;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        color: #018ffe!important;
    }

    .lp-m-bottom-imgs{
        width:60%;
        margin: 2rem auto;
        text-align: center;
    }

    .lp-m-items-img {
        margin: 2rem auto 0;
    }


    .lp-m-items-img img{
        width:100%;
        height:100%;
    }

.lp-m-topImg ul {overflow: hidden; padding-top:20px;}
.lp-m-topImg ul li {line-height: 36px;overflow: hidden;clear: both; padding: 0 8px;font-size: 12px;}
.lp-m-topImg ul li span {display: block;float: left;width: 48%;padding-right:2%;white-space: nowrap}
.lp-m-topImg ul li i {display: block;float: left;font-style: normal; padding-left:10px; width:36px;}

.lp-m-items-img .support {overflow: hidden; margin-bottom:20px;}
.lp-m-items-img .support p{ line-height:40px; text-align:center;}
.lp-m-items-img #downlogin {text-align: center;overflow:hidden; padding:100px 20px; display:none;}
.lp-m-items-img #downlogin a{color: red;font-weight:bold}
.lp-m-items-img #downinfo {display:none;}
.lp-m-items-img dl {font-size: 14px;border-collapse: collapse;width:100%;float:left}

.lp-m-items-img dl.d1 {border-bottom: 1px #C42329 solid;position: relative;padding-bottom: 19px;}
.lp-m-items-img dl dt {line-height: 35px;color: #FFF;background: #C42329;font-weight: normal;border-bottom: 0;border-right: 0;text-align:center}
.lp-m-items-img dl dd {color: #717178;vertical-align: top;border-top: 0;border-right: 0;position: relative; width:33.5%; float:left; border-left: 1px #C42329 solid}
.lp-m-items-img dl dd.r{border-right: 1px #C42329 solid;width:33%}
.lp-m-items-img dl.d2 {border-bottom: 1px #C42329 solid;border-right: 1px #C42329 solid;}
.lp-m-items-img dl.d2 dd{width:100%;}
.lp-m-items-img .download dl dd {min-height:220px;}
.lp-m-items-img dl dd ul {overflow: hidden}
.lp-m-items-img dl dd ul li {line-height: 36px;overflow: hidden;clear: both; text-align:center; padding: 0 5px;font-size: 12px;}
.lp-m-items-img dl dd ul li.t1{font-weight:bold; font-size:16px;}
.lp-m-items-img dl dd ul li.yes,.lp-m-items-img dl dd ul li.no {background:-webkit-linear-gradient(left, rgba(238,238,238,0.5),rgba(0,255,0,0))}
.lp-m-items-img dl dd ul li.warning{width:100%;font-family: Arial, Helvetica, sans-serif; position:absolute;text-align:center;background:#01A4FF;color: #fff;padding:4px 0;line-height: 17px;border-radius: 1px;font-size: 12px;bottom:0;}
.lp-m-items-img dl dd ul li span {background: url(../images/support-icon.png) no-repeat;display: block;float: left;width: 80%;text-indent: 20px; padding-left:6%;font-size:12px;white-space: nowrap}
.lp-m-items-img dl.d2 dd ul li span {padding-left:0;width: 70%;}
.lp-m-items-img dl dd ul li i {display: block;float: left;font-style: normal; padding-left:10px; width:36px;}
.lp-m-items-img dl dd ul li.no i {color: #F00}



    .lp-fixed-main{
        position: fixed;
        background: rgba(0,0,0,.8);
        left:0;
        right:0;
        bottom:0;
        top:0;
        display: none;
    }
    .lp-fixed-cont{
        width:28.85rem;
        height: 25.65rem;
        position: absolute;
        top:50%;
        left:50%;
        margin: -12.825rem 0 0 -14.425rem;
    }
    .lp-fixed-cont img {
        width:100%;
        height:100%;
    }
    .lp-fixed-close{
        width:3.4rem;
        height:3.4rem;
        position: absolute;
        bottom: 10%;
        left:50%;
        margin-left: -1.57rem;
    }

    .yxd-loading-cont{
        width:11rem;
        min-height:10rem;
        background: rgba(0,0,0,.6);
        padding: 2rem;

        border-radius: 10%;
        position: fixed;
        left:50%;
        top:50%;
        margin: -5rem 0 0 -5.5rem;
    }
    .yxd-loading-cont p {
        color:#fff;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    .yxd-loading-gif{
        width:4rem;
        height:4rem;
        margin: 0 auto;
    }
    .yxd-loading-main{
        display: none;
        position: fixed;
        left:0;
        right: 0;
        top:0;
        bottom:0;
        background: rgba(0,0,0,0.3);
        z-index: 99999999999999;
    }
    .lp-fade-main,.lp-fade-mzsm {
        display: none;
        position: fixed;
        left:0;
        right: 0;
        top:0;
        bottom:0;
        background: rgba(0,0,0,0.3);
        z-index: 99999999999999;
    }
    .lp-fade-cont{
        border-radius: 1rem;
        width:90%;
        min-height:14rem;
        position: absolute;
        left:50%;
        top:35%;
        margin: -7rem 0 0 -45%;
        background: #fff;
    }
    .lp-fade-cont-m{
        padding:1rem 1.5rem;
    }
    .lp-fade-cont-tips{
        display: none;
    }
	
	.lp-fade-cont-mzsm{
    width: 100%;
    height: 21.0rem;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
	}
	
	.lp-fade-cont-scroll{
    padding: 0.75rem 1.0rem;
    line-height: 2.0rem;
    font-size: 1.1rem;
    color: #555;
}
    .close-btn{
        width:1.5rem;
        height:1.5rem;
        position: absolute;
        right: 0;
        top:-2rem;
    }
    .bottom-btn-main{
        background: rgba(255,255,255,0.8);
        position:fixed;
        bottom: 0;
        left:0;
        right: 0;
        padding:1rem 0;
        display: none;
    }
    .bottom-btn{
        /*background:#59b3ff;*/
        background:-webkit-gradient(linear,0 0, 0 bottom, from(#f8c149), to(#f8922a));
        box-shadow: 0 3px 1rem rgba(0,0,0,.3);
        margin:0 auto;
        height:4.5rem;
        line-height: 4.5rem;
        text-align: center;
        color:#fff;
        border-radius: 2.5rem;
        font-size: 1.8rem;
        width: 90%;
    }
	#appLogin{
	color:#018ffe;
	}
	.footer{
	text-align:center;
	height:260px;
	background-color:#ecf3ff;
	padding-top: 15px;
	}
	.footer p{
	color:#8197c0;
	line-height:25px;
	font-size:10px;}
	#unster a{
	font-size:14px;
	color:#3358a4;
	}
	.rsshare {	
	width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    background: #DDD;
    border-right: 1px #C42329 solid;
    border-left: 1px #C42329 solid;
	}
	.wxshare {	
		top: 160px;
		position: absolute;
		display:none;
	}
	.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
	}